@import "tailwindcss";

@tailwind utilities;

@layer components {
  /* the outer wrapper */
  .info-card {
    @apply flex items-center border rounded-lg p-4 shadow-sm hover:shadow-md transition;
  }

  /* the icon container */
  .info-card-icon {
    @apply p-2 rounded-full;
  }

  /* title and description */
  .info-card-content {}
  .info-card-title {
    @apply text-lg font-semibold;
  }
  .info-card-desc {
    @apply text-sm text-gray-600;
  }
}

:root {
  --background: #ffffff;
  --foreground: #fbc560ff;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-calibri: var(--font-calibri);
  --font-mono: var(--font-geist-mono);
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0000007d;
    --foreground: #fbc560ff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

nav:hover {
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,.2);
}